@model WebApplication.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" style="margin-top:30px;">
            <div class="x_panel">
                <div class="x_title">
                    <h4>Crear una nueva cuenta.</h4>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <br>
                    
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                   
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-10">
                            <input type="submit" class="btn btn-primary" value="Registrarse" />
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
                    
                    }

                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }
