@using WebApplication.Areas.Ecommerce.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MBHardware</title>
    @Styles.Render("~/Content/ecommerce")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="ecommerce">
    <main id="page-content" class="wrap container">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header pull-left">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("Index", "Home")" class="navbar-brand"><img src="~/Image/logo.png"></a>
                </div>

                <div class="collapse navbar-collapse navbar-left ">
                    <ul class="nav navbar-nav ">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" id="shop-dropdown" href="//boxie.lemonstand.com/shop">
                                Categorías <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="shop-dropdown">
                                @{ var model = ViewBag.LayoutModel as List<CategoryViewModel>;

                                    foreach (var cat in model.Where(x => x.Level == 0).OrderByDescending(x => x.CountChildren))
                                    {
                                        if (model.Any(x => x.Parent == cat.Id && x.Level == 1))
                                        {
                                            <li class="dropdown-submenu">
                                                <a tabindex="-1" href="#">@cat.Name </a>
                                                <ul class="dropdown-menu">
                                                    @foreach (var subcat in model.Where(x => x.Level == 1 && x.Parent == cat.Id))
                                                    {
                                                        <li><a href="@Url.Action("GetById", "Category", new { id = subcat.Id })">@subcat.Name</a></li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="@Url.Action("GetById", "Category", new { id = cat.Id })">@cat.Name</a>
                                            </li>
                                        }
                                    }
                                }
                                <li class="divider">
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" href="@Url.Action("GetById", "Category", new { id = "0" })">Todos los productos</a>
                                </li>
                            </ul>
                        </li>
                        <li class=""><a href="@Url.Action("GetById", "Category", new { id = "0", isOffer = true })">Ofertas</a></li>
                        <li class=""><a href="@Url.Action("About", "Home")">Nosotros</a></li>
                        <li class="">
                            <input type="text" class="search-form" name="query" id="query" placeholder="Busque su producto" autocomplete="off" value="">
                        </li>
                        <li>
                            <Button href="#" class="navbar-btn btn ">
                                <i class="fa fa-search"></i>
                            </Button>
                        </li>
                    </ul>
                </div>
                @{
                    Html.RenderPartial("../ShoppingCart/CartPreview");
                }
                
                <!--/.navbar-collapse -->
            </div>
        </nav>
        <div>
            @RenderBody()
        </div>
        <div class="modal fade bd-example-modal-lg" id="modal-container" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body" id="modal-body">
                        </div>
                    </div>
                </div>
            </div>           
    </main>

    <footer id="page-footer">
        <div class="container">
            <div class="footer-contact text-center row">
                <div class="col-xs-12 col-sm-4 col-lg-2 col-lg-offset-3">
                    <a href="#"><i class="fa fa-envelope-o"></i>info@boxie.com</a>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-2">
                    <a href="#"><i class="fa fa-phone"></i>555.555.5555</a>
                </div>
                <div class="social-buttons col-xs-12 col-sm-4 col-lg-2">
                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                    <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
            <div class="footer-info wrap row">
                <div class="col-sm-6">
                    <ul class="list-unstyled">
                        <li>© BOXIE! 2014</li>
                        <li><a href="//boxie.lemonstand.com/terms">Terms &amp; Conditions</a></li>
                        <li><a href="//boxie.lemonstand.com/privacy">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <p class="credit">Powered by <a href="http://www.lemonstand.com">LemonStand</a></p>
                </div>
            </div>
        </div>
    </footer>
        <!-- END NAVBAR -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/ecommerce")
    @Scripts.Render("~/Scripts/angular")
        @RenderSection("scripts", required: false)
    <script type="text/javascript">

        type = "text/javascript" >
            $(function () {
                // Initialize numeric spinner input boxes
                //$(".numeric-spinner").spinedit();
                // Initialize modal dialog
                // attach modal-container bootstrap attributes to links with .modal-link class.
                // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
                $('.btn-add-cart').on('click', function (e) {
                    e.preventDefault();
                    var $buttonClicked = $(this);

                    var id = $buttonClicked.attr('data-id');
                    var name = $buttonClicked.attr('data-name');
                    var count = $buttonClicked.attr('data-count');;
                    var price = $buttonClicked.attr('data-price');
                    var url = $buttonClicked.attr('data-url');
                    var options = { keyboard: true };
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("addproduct", "ShoppingCart")',

                        contentType: "application/json; charset=utf-8",
                        data: { "id": id, "name": name, "count": count, "price": price, "url":url },
                        datatype: "json",
                        success: function (data) {

                            window.location.href = '@Url.Action("Index", "Home")';

                    },
                    error: function (data) {
                        window.location.href = '@Url.Action("Index", "Home")';
                    }
                });


                });

            });
    </script>
</body>
</html>
