@model WebApplication.Areas.Ecommerce.Models.ProductViewModel

<div class="col-md-4 product-holder" ng-controller="ProductController" ng-init="product = @Json.Encode(Model)">
        <div class="product-item text-center">
            <a class="product-img" href="@Url.Action("GetById", "Product", new { id = Model.Id })">
                @if (@Model.Images.Any(x => x.IsMain))
                {
                    <img class="img-responsive" src="~/Image/@Model.Images.FirstOrDefault(x=>x.IsMain).Url" alt="Blue Headphones">
                }
            
            </a>
            <h3 class="product-title">
                <a href="@Url.Action("GetById", "Product", new { id = Model.Id })">@Model.Name</a>
            </h3>
            <div class="h4 product-price">
                <span ng-class="product.IsSale ? 'previous-price' : 'product-price'">{{product.Price | currency}}</span>
                <div class="sale-tag" ng-if="product.IsSale">
                    Oferta!
                </div>
                <span ng-if="product.IsSale">{{product.OfferPrice | currency}}</span>
            </div>

            <div class="buttons-holder">
                <a class="btn btn-default btn-quick-view hidden-xs" rel="tooltip" title="" data-original-title="Vista rápida"><i class="fa fa-eye"></i></a>            
                <button class="btn btn-danger btn-add-cart" ng-click="addToCart(product)">Add to Cart</button>
            </div>
        </div>
</div>