@model Dashboard.Models.BannerViewModel
@{
    ViewBag.Title = "Crear";
}


<!DOCTYPE html>

@using (Html.BeginForm("Add", "Banner", FormMethod.Post, new { @class = "form-horizontal", @enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Id)
    <div class="row">
        <div class="form-group">
            <label class="control-label col-lg-1 col-lg-offset-2  col-sm-offset-0">ID</label>
            <div class="col-lg-5 col-sm-12 col-xs-12">
                <div class="form-group">
                    @Html.DisplayFor(x => x.Id, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-1 col-lg-offset-2  col-sm-offset-0">Title</label>
            <div class="col-lg-5 col-sm-12 col-xs-12">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Titulo" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-1 col-lg-offset-2  col-sm-offset-0">Descripción</label>
            <div class="col-lg-5 col-sm-12 col-xs-12">
                <div class="form-group">
                    @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = "Descripción", @rows = "2" })
                </div>
            </div>
        </div>

        <div class="form-group ">
            <div class="col-lg-1 col-lg-offset-2 col-sm-offset-0 col-sm-6 col-xs-6 control-label">
                <label class="">ImageUrl</label>
            </div>
            <div class="col-lg-2 col-sm-6 col-xs-6">
                <div class="form-group">
                    <div class="editor-field">
                        <input type="file" name="file" accept="image/*" />
                    </div>
                </div>
            </div>
            <div class="col-lg-1 control-label col-sm-6 col-xs-6">
                <label class=" ">Url</label>
            </div>
            <div class="col-lg-2 col-sm-6 col-xs-6">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Url, new { @class = "form-control", @placeholder = "Url" })
                </div>
            </div>
        </div>

        <div class="col-lg-1 col-lg-offset-3">
            <input type="submit" class="btn btn-primary pull-left" value="Submit" style="margin-right:0px" />
        </div>
        <div class="col-lg-1">
            <input type="button" class="btn btn-default pull-left" value="Cancelar" style="margin-right:0px" onclick="location.href='@Url.Action("GetAll", "Banner")'" />
        </div>

    </div>
}
