@model Dashboard.Models.CategoryViewModel
@{
    ViewBag.Title = "Editar categoría";
}
<!DOCTYPE html>
@using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(x => x.Id)

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_title">
                    <h4>General</h4>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <br>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-1" for="id">
                            ID
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-2">
                            @Html.DisplayFor(x => x.Id, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Nombre
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">   
                            @Html.ValidationMessageFor(x => x.Name)
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Nombre" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">
                            Descripción
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            @Html.ValidationMessageFor(x => x.Description)
                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = "Descripción", @rows = "2" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-2" for="nivel">
                            Nivel
                        </label>
                        <div class="col-lg-2  col-md-2 col-sm-2 col-xs-3">
                            @Html.ValidationMessageFor(x => x.Level)
                            @Html.TextBoxFor(x => x.Level, new { @class = "form-control", @placeholder = "Nivel" })
                        </div>

                        <label class="control-label col-lg-1 col-md-2 col-sm-2 col-xs-3" for="category">
                            ID Padre
                        </label>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                            @Html.DropDownListFor(m => m.ParentId, new SelectList(Model.ParentCategories, "Id", "Name"), "Categoría", new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-2" for="habilitado">
                            Habilitado
                        </label>
                        <div class="form-group control-label col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            @Html.CheckBoxFor(x => x.Enabled, new { @class = "checkbox form-control" })
                        </div>
                    </div>

                    <div class="ln_solid"></div>

                    <div class="form-group">
                        <div class="col-lg-1 col-lg-offset-3  col-md-offset-3  col-sm-offset-3">
                            <input type="submit" class="btn btn-primary" value="Submit" />
                        </div>
                        <div class="col-lg-1">
                            <button class="btn btn-default" type="reset">Reset</button>
                        </div>
                        <div class="col-lg-1">
                            <input type="button" class="btn" value="Cancelar" onclick="location.href='@Url.Action("GetAll", "Category")'" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
