@model  WebApplication.Areas.Dashboard.Models.ReportViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Areas/Dashboard/Views/Shared/_layout.cshtml";
}
@section Scripts
{
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script> 
    <script type="text/javascript">
        $(function () { // will trigger when the document is ready

    			if ($('#lineChart2').length ){

			  var ctx = document.getElementById("lineChart2");
			  var lineChart = new Chart(ctx, {
				type: 'line',
				data: {
                    labels: [
                        @for (int i = 0; i < Model.SellsPerMonth.Count; i++)
                        {
                            <text>
                        "@Model.SellsPerMonth.ElementAt(i).Key"
                        </text>
                        if(i != Model.SellsPerMonth.Count - 1)
                        {
                            <text>
                        ,
                        </text>
                        }


                        }
                    ],
				  datasets: [{
                            label: "Vendido: ",
					backgroundColor: "rgba(38, 185, 154, 0.31)",
					borderColor: "rgba(38, 185, 154, 0.7)",
					pointBorderColor: "rgba(38, 185, 154, 0.7)",
					pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
					pointHoverBackgroundColor: "#fff",
					pointHoverBorderColor: "rgba(220,220,220,1)",
					pointBorderWidth: 1,
                    data: [
                         @for (int i = 0; i < Model.SellsPerMonth.Count; i++)
                        {
                            <text>
                        "@Model.SellsPerMonth.ElementAt(i).Value"
                        </text>
                        if(i != Model.SellsPerMonth.Count - 1)
                        {
                            <text>
                        ,
                        </text>
                        }


                        }

                    ]

                  }]
				},
			  });

            }
                if ($('#mybarChart2').length) {

                    var ctx = document.getElementById("mybarChart2");
                    var mybarChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [
                        @for (int i = 0; i < Model.TotalSells.Count; i++)
                        {
                            <text>
                        "@Model.TotalSells.ElementAt(i).Key"
                        </text>
                        if(i != Model.TotalSells.Count - 1)
                        {
                            <text>
                        ,
                        </text>
                        }


                        }
                    ],
                            datasets: [{
                                label: 'Cancelada',
                                backgroundColor: "#26B99A",
                                data: [
                                    @for (int i = 0; i < Model.TotalSells.Count; i++)
                        {
                                    if(Model.TotalSells.ElementAt(i).Value.Any(x=>x.Key=="Cancelada"))
                                    {
                                        <text>
                                    @Model.TotalSells.ElementAt(i).Value.FirstOrDefault(x => x.Key == "Cancelada").Value
                                    </text>
                                    }
                                    else
                                    {
                                    <text>0</text>
                                    }
                        if(i != Model.TotalSells.Count - 1)
                                    {
                            <text>
                        ,
                        </text>
                        }


                        }

                                ]
                            }, {
                                label: 'Cerrada',
                                backgroundColor: "#03586A",
                                data: [ @for (int i = 0; i < Model.TotalSells.Count; i++)
                        {
                                    if(Model.TotalSells.ElementAt(i).Value.Any(x=>x.Key=="Cerrada"))
                                    {
                                        <text>
                                    @Model.TotalSells.ElementAt(i).Value.FirstOrDefault(x => x.Key == "Cerrada").Value
                                    </text>
                                    }
                                    else
                                    {
                                    <text>0</text>
                                    }
                        if(i != Model.TotalSells.Count - 1)
                                    {
                            <text>
                        ,
                        </text>
                        }


                        }]
                                },
                            {
                                label: 'PendienteEnvio',
                                backgroundColor: "#9B59B6",
                                data: [
                                    @for (int i = 0; i < Model.TotalSells.Count; i++)
                                    {
                                        if(Model.TotalSells.ElementAt(i).Value.Any(x=>x.Key== "PendienteEnvio"))
                                        {
                                        <text>
                                    @Model.TotalSells.ElementAt(i).Value.FirstOrDefault(x => x.Key == "PendienteEnvio").Value
                                    </text>
                                    }
                                    else
                                    {
                                    <text>0</text>
                                    }
                        if(i != Model.TotalSells.Count - 1)
                                    {
                            <text>
                        ,
                        </text>
                        }


                        }
                                ]
                            }]
                        },

                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });

                }

                if ($('#pieChart2').length) {

                    var ctx = document.getElementById("pieChart2");
                    var data = {
                        datasets: [{
                            data: [

                                    @for (int i = 0; i < Model.ProductBestCount.Count; i++)
                        {
                            <text>
                        "@Model.ProductBestCount.ElementAt(i).Value"
                        </text>
                        if(i != Model.ProductBestCount.Count - 1)
                        {
                            <text>
                        ,
                        </text>
                        }


                        }

                            ],
                            backgroundColor: [
                                "#455C73",
                                "#9B59B6",
                                "#BDC3C7",
                                "#26B99A",
                                "#3498DB"
                            ],
                            label: 'My dataset' // for legend
                        }],
                        labels: [
                            @for (int i = 0; i < Model.ProductBestCount.Count; i++)
                        {
                            <text>
                        "@Model.ProductBestCount.ElementAt(i).Key"
                        </text>
                        if(i != Model.ProductBestCount.Count - 1)
                        {
                            <text>
                        ,
                        </text>
                        }


                        }
                        ]
                    };

                    var pieChart = new Chart(ctx, {
                        data: data,
                        type: 'pie',
                        otpions: {
                            legend: false
                        }
                    });

                }

                if ($('#canvasDoughnut2').length) {

                    var chart_doughnut_settings = {
                        type: 'doughnut',
                        tooltipFillColor: "rgba(51, 51, 51, 0.55)",
                        data: {
                            labels: [
                                @for (int i = 0; i < Model.ProductBestSell.Count; i++)
                        {
                            <text>
                        "@Model.ProductBestSell.ElementAt(i).Key"
                        </text>
                        if(i != Model.ProductBestSell.Count - 1)
                        {
                            <text>
                        ,
                        </text>
                        }


                        }
                            ],
                            datasets: [{
                                data: [
                                 @for (int i = 0; i < Model.ProductBestSell.Count; i++)
                        {
                            <text>
                        "@Model.ProductBestSell.ElementAt(i).Value"
                        </text>
                        if(i != Model.ProductBestSell.Count - 1)
                        {
                            <text>
                        ,
                        </text>
                        }


                        }
                                ],
                                backgroundColor: [
                                    "#BDC3C7",
                                    "#9B59B6",
                                    "#E74C3C",
                                    "#26B99A",
                                    "#3498DB"
                                ],
                                hoverBackgroundColor: [
                                    "#CFD4D8",
                                    "#B370CF",
                                    "#E95E4F",
                                    "#36CAAB",
                                    "#49A9EA"
                                ]
                            }]
                        },
                        options: {
                            legend: false,
                            responsive: false
                        }
                    }

                    var chart_element = document.getElementById("canvasDoughnut2");
                    var chart_doughnut = new Chart(chart_element, chart_doughnut_settings);
                }

        });

            </script>
    }
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Ventas últimos días</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>                  
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                <canvas id="mybarChart2" style="width: 761px; height: 380px;" width="761" height="380"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Ventas concretadas</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                 
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                <canvas id="lineChart2" style="width: 761px; height: 380px;" width="761" height="380"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Productos más Vendidos (cantidad)</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                   
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                <canvas id="pieChart2" style="width: 761px; height: 380px;" width="761" height="380"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Productos más vendidos (total)</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                 
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                <canvas id="canvasDoughnut2" style="width: 761px; height: 380px;" width="761" height="380"></canvas>
            </div>
        </div>
    </div>
</div>