@using Dashboard.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

 <!-- Bootstrap -->
<link href="~/Content/bootstrap.css" rel="stylesheet">
<!-- Font Awesome -->
<link href="~/Content/font-awesome.min.css" rel="stylesheet">
<!-- Custom Theme Style -->
<link href="~/Content/custom.css" rel="stylesheet">
<body class="login">
            <div class="login_wrapper">
                <div class="animate form login_form">
                    <section class="login_content">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h1>Login Form</h1>

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Username" })
                            </div>
                            <div>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Username" })
                            </div>
                            <div>

                                <input type="submit" value="Log in" class="btn btn-default submit" />
                            </div>
                            <div class="clearfix"></div>
                            <div class="separator">

                                <div class="clearfix"></div>
                                <br />
                                <div>
                                    <h1><i class="fa fa-paw"></i> MB Hardware</h1>

                                </div>
                            </div>
                        }
                    </section>
                </div>

            </div>
    
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}